.ant-card.add .ant-card-body{
    padding: 0;
}
.cusLeft{
    height: auto;
    padding: 0;
    margin-right: 20px;
    overflow: auto;
}

.cusMenu{
    min-width: 320px;
    min-height: 550px;
    position: relative;
    padding-left: 0;
}
.imgIop{
    position: absolute;
    top: 0;
    width: 100%;
}
.imgBot{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.imgMid{
    position: absolute;
    top: 63px;
    width: 320px;
    min-height: 438px;
    background: #F4F5F9; 
}
.textBot{
    position: absolute;
    bottom: 0;left: 42px;
    height:50px;width: 278px;
}
.textItem{
    float: left;
    position: relative;
    width: 33.33%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #999;
    border: 1px solid #e7e7eb;
    background: #fafafa;
}
.textItem:hover{
    color: #000!important;
}
.textItem.active{
    border: 1px solid #44b549!important;
    color: #44b549!important;
}
.textItem.active:hover{
    color: #44b549!important;
}

.sonBox{
    z-index: 1;
    position: absolute;
    bottom: 113px;
    width: 100%;
    line-height: 48px;
    background: #fafafa;
}
.sonBox.active{
    bottom: 65px;
}
.sonItem{
    width: 100%;
    line-height: 48px;
    border: 1px solid #e7e7eb;
    background: #fafafa;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
}
.sonItem.active{
    border: 1px solid #44b549!important;
    color: #44b549!important;
}
.sonAdd{
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e7e7eb;
    background: #fafafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    color: #999;
}
.arrow{
    z-index: 2;
    position: absolute;
    bottom: 49px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    font-size: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #fff;
}

.cusRight{
    height: auto;
    width: 600px;
    padding: 0 20px 20px 20px;
    background: #f0f2f5;
    overflow: auto;
}
.cusHeader{
    padding: 10px 0;
    text-align: right;
}

.titleRight{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 15px;
}
.fRight{
    float: right;
}
.title{
    font-size: 16px;
    margin-bottom: 20px;
}
.images{
    position: relative;
    height: auto;
    min-height: 150px;
    border: 1px solid #8c939d;
    box-sizing: border-box;
}
.images.pd{
    min-height: 190px;
    padding-bottom: 40px;
}
.images .img{
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: none;
}
.images .imgTitle{
    position: absolute;
    top: 120px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0 5%;
    color: #fff;
    background: rgba(0,0,0,.5);
}
span.tox-tbtn__select-label{
    width: 3em;
}
.box{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    text-align: center;
}
.adds{
    height: 50px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #8c939d;
}

.ant-layout >>> .tox .tox-tbtn--bespoke .tox-tbtn__select-label{
    width: 3em;
}

