.formGroup{
    margin-bottom: 14px;
    vertical-align: middle;
}
.formGroup.mb20{
    margin-bottom: 20px;
}
.formGroup > label{
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 0 0 8px;
}


.formGroup > label.inline{
    display: inline-block;
}

.inputFile{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    border:1px solid #d9d9d9;
    vertical-align: middle;
    cursor: pointer;
}

.inputFile.active{
    color: #40a9ff;
    border:1px solid #40a9ff;
}

.inputFile:hover{
    color: #40a9ff;
    border:1px solid #40a9ff;
}

.fileName{
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-left: 15px;
    vertical-align: middle;
}
.labelInfo{
    font-size:14px;
    color: rgb(154, 141, 141);
    margin-top:5px;
}